@charset "UTF-8";
/* * * * * * * * *
*	base
* * * * * * * * */
*, *::before, *::after {
  box-sizing: border-box;
}
html { font-size: 62.5%; }
img { max-width: 100%; }
body {
  color: #333;
  font-family:'PT Sans Caption','PT Sans','ヒラギノ角ゴ Pro W3',' Hiragino Kaku Gothic Pro', 'MeiryoUI', 'MSUIGothic', 'メイリオ', 'Meiryo', 'ＭＳＰゴシック', sans-serif;
  line-height: 1.8;
  letter-spacing: 0.5rem;
  margin: 0;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
}
.inner {
  max-width: 1080px;
  margin: 0 auto;
  // background: skyblue;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #333;
}
h2 {
  font-size: 4.5rem;
  margin-bottom: 30px;
}
/* * * * * * * * *
*	reset
* * * * * * * * */
h1,h2,h3,h4,h5,h6, {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
img {
  margin: 0;
  padding: 0;
  vertical-align: top;
}
.sub_t {
  font-size: 2rem;
  letter-spacing: 1.2rem;
}
/* * * * * * * * *
*	Sass 定義
* * * * * * * * */
$ucafe-color: #F5F8F6;

@mixin btn-1 { //READ MORE etc
  padding: 15px 45px;
  // display: inline-block;
  border: solid;
  font-size: 1.7rem;
}
/*	button
-------------------------------*/
.btn-3 a {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 1em 2em;
  width: 300px;
  color: #333;
  font-size: 1.6rem;
  // font-weight: 700;
  background-color: rgb(255, 255, 255);
  transition: 0.3s;
}

.btn-3 a::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -35px;
  transform: translateY(-50%);
  width: 70px;
  height: 2px;
  background-color: #2285b1;
  transition: 0.3s;
}

.btn-3 a:hover {
  text-decoration: none;
  background-color: #ccc;
}

.btn-3 a:hover::after {
  transform: translateX(3px);
}

/*	btn-4 白から黒
-------------------------------*/
.btn-4 a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  width: 300px;
  color: #000000;
  font-size: 18px;
  // font-weight: 700;
  border: 4px solid #000000;
}

.btn-4 a::after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #333;
  border-right: 3px solid #333;
  transform: rotate(45deg);
}

.btn-4 a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #333;
}

.btn-4 a:hover::after {
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
}