@charset "UTF-8";
@import "variables";
/* * * * * * * * *
*	base
* * * * * * * * */
*, *::before, *::after {
  box-sizing: border-box;
}
html {
  font-size: 50%;
  overflow-x: hidden;
}
img { width: 100%; }
body {
  color: #333;
  font-family:'PT Sans Caption','PT Sans','ヒラギノ角ゴ Pro W3',' Hiragino Kaku Gothic Pro', 'MeiryoUI', 'MSUIGothic', 'メイリオ', 'Meiryo', 'ＭＳＰゴシック', sans-serif;
  line-height: 1.8;
  letter-spacing: 0.2rem;
  max-width: 1920px;
  text-align: center;
  margin: 0 auto;
  overflow: auto;
}

.inner {
  max-width: 1080px;
  margin: 0 auto;
  // padding: 0 40px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #333;
}
h2 {
  font-size: 4.5rem;
  margin-bottom: 10px;
}
tr , th{
  font-weight: normal;
}
select ,input,textarea {
  border: 0;
  background-color: $ucafe-color;
}
/* * * * * * * * *
*	reset
* * * * * * * * */
img {
  margin: 0;
  padding: 0;
  vertical-align: top;
  max-width: 100%;
}
.sub_t {
  font-size: 2rem;
  letter-spacing: 1.2rem;
  margin-bottom: 50px;
}
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

/* * * * * * * * *
*	header
* * * * * * * * */
header {
  .header_under {
    border-bottom: 1px solid #333;
    height: 90px;
  }
  .header_under_indx {
    border-bottom: 1px solid #fff;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  img {
    width: 120px;
    height: auto;
  }
}
// nav
.nav_li {
  align-items: center;
  ul {
    font-size: 1.3rem;
    // font-weight: bold;
    display: flex;
    li {
      position: relative;
      margin-right: 30px;
        img {
          width: 20px;
          height: 20px;
        }
    }
  }
}
.insta_hov {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 0.3s;
  &:hover {
    opacity: 1;
  }
}

/*	shopping header
-------------------------------*/
.shop-ti-big {
  height: 68px;
  margin-top: 20px;
  background-color: $ucafe-color;
  .shop-ti-big-p {
    font-size: 2rem;
    letter-spacing: 1.2rem;
    font-weight: bold;
  }
}

/* * * * * * * * *
*	footer
* * * * * * * * */
.main_contact {
  text-align: center;
}
.main_con_i {
  width: 150px;
  margin-bottom: 15px;
}
.main_con_p {
  letter-spacing: .8rem;
  font-size: 2rem;
  margin-bottom: 100px;
}
.main_cons {
  text-align: center;
}
.main_con_i_1 {
  width: 960px;
  height: 553px;
  background-image: url(../img/kari/coffee.jpg);
  background-size: cover;
  background-position : center bottom 23%;
  // float: left;
}
.main_con_i_2 {
  width: 960px;
  height: 553px;
  background-image: url(../img/kari/cakea.jpg);
  background-size: cover;
  background-position : center bottom 30%;
  // float: left;
}
.clear {
  clear: both;
}
.con_3{
  width: 280px;
}
.con_4 {
  border-top: 3px solid #000;
}
.w450 {
  width: 450px;
}
/* * * * * * * * *
*	footer
* * * * * * * * */
footer {
  text-align: center;
  margin: 30px 0;
  font-size: 1.4rem;
}


/* * * * * * * * *
*	共通事項
* * * * * * * * */

/*	button 右に横棒がついているもの
-------------------------------*/
.btn-3 a {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 1em 2em;
  width: 230px;
  color: #333;
  font-size: 1.5rem;
  // font-weight: 700;
  background-color: rgb(255, 255, 255);
  transition: 0.3s;
}

.btn-3 a::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -35px;
  transform: translateY(-50%);
  width: 70px;
  height: 2px;
  background-color: #2285b1;
  transition: 0.3s;
}

.btn-3 a:hover {
  text-decoration: none;
  background-color: #ccc;
}

.btn-3 a:hover::after {
  transform: translateX(5px);
}

/*	btn-4 白から黒
-------------------------------*/
.btn-4 a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  width: 200px;
  color: $btn4-1;
  font-size: 1.4rem;
  // font-weight: 700;
  transition: 0.3s;
  border: 4px solid $btn4-1;
}

.btn-4 a::after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid $btn4-1;
  border-right: 3px solid $btn4-1;
  transform: rotate(45deg);
}

.btn-4 a:hover {
  color: #fff;
  text-decoration: none;
  background-color: $btn4-1;
}

.btn-4 a:hover::after {
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
}

/*	btn-5 footer 共通
-------------------------------*/

.btn-5 a {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 8em 8em;
  width: 1000px;
  color: $ftr-1;
  transition: 0.3s;
  border: 10px solid $ftr-1;
  margin-top: -70px;
  margin-bottom: 100px;
}
.btn-5 h3 {
  font-size: 4.5rem;
  padding-right: 40px;
}
.btn-5 .con_2 {
  font-size: 2rem;
  font-weight: 600;
}
.con_1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.btn-5 a::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -100px;
  transform: translateY(-50%);
  width: 200px;
  height: 3px;
  background-color: $ftr-1;
  transition: 0.3s;
}

.btn-5 a:hover {
  text-decoration: none;
  background-color: $ftr-1;
  color: #fff;
}

.btn-5 a:hover::after {
  // transform: translateX(3px);
  transition: all .5s;
  text-decoration: none;
  background-color: #f4f3ef;
}

/*	btn-6 shopping CHEESECAKE 他の
-------------------------------*/
.btn-6 span {
  text-align: center;
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 1em 2em;
  width: 380px;
  color: #fff;
  font-size: 1.6rem;
  border: 1px solid #fff;
  background-color: $atr;
  transition: 0.3s;
}


.btn-6 span::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -35px;
  transform: translateY(-50%);
  width: 70px;
  height: 1px;
  background-color: #e5e5e5;
  transition: 0.3s;
}

.btn-6 span:hover {
  text-decoration: none;
  background-color: $ucafe-color;
  border: 1px solid $btn4-1;
  color: #adabae;
}

.btn-6 span:hover::after {
  transform: translateX(3px);
  background-color: $btn4-1;
}
/*	btn-7 shoping 戻る
-------------------------------*/
.btn-7 a {
  text-align: center;
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 1em 2em;
  width: 380px;
  color: #333;
  font-size: 1.6rem;
  border: 1px solid #333;
  background-color: #fff;
  transition: 0.3s;
}

.btn-7 a::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -35px;
  transform: translateY(-50%);
  width: 70px;
  height: 1px;
  background-color: $btn4-1;
  transition: 0.3s;
}

.btn-7 a:hover {
  text-decoration: none;
  background-color: $btn4-1;
  border: 1px solid #333;
  color: #fff;
}

.btn-7 a:hover::after {
  transform: translateX(3px);
  background-color: #f4f3ef;
}

/*	btn-8 お問い合わせ送信ボタン
-------------------------------*/
.btn-8 button {
  text-align: center;
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 1em 2em;
  width: 380px;
  color: #fff;
  font-size: 1.6rem;
  border: 1px solid #fff;
  background-color: $atr;
  transition: 0.3s;
}


.btn-8 button::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -35px;
  transform: translateY(-50%);
  width: 70px;
  height: 1px;
  background-color: #e5e5e5;
  transition: 0.3s;
}

.btn-8 button:hover {
  text-decoration: none;
  background-color: $ucafe-color;
  border: 1px solid $btn4-1;
  color: #adabae;
}

.btn-8 button:hover::after {
  transform: translateX(3px);
  background-color: $btn4-1;
}
/*	btn-9 お問い合わせ戻るボタン
-------------------------------*/
.btn-9 button {
  text-align: center;
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 1em 2em;
  width: 95px;
  color: #707070;
  font-size: 1.4rem;
  border: 1px solid #707070;
  background-color: #fff;
  transition: 0.3s;
}

.btn-9 button:hover {
  text-decoration: none;
  background-color: $btn4-1;
  border: 1px solid #707070;
  color: #fff;
}


/*	btn-10 お問い合わせ確認送信ボタン
-------------------------------*/
.btn-10 button {
  text-align: center;
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 1em 2em;
  width: 105px;
  color: #fff;
  font-size: 1.4rem;
  border: 1px solid #fff;
  background-color: $atr;
  transition: 0.3s;
}

.btn-10 button:hover {
  text-decoration: none;
  background-color: $ucafe-color;
  border: 1px solid $btn4-1;
  color: #adabae;
}

/* * * * * * * * *
*	hover
* * * * * * * * */

/*	画像
-------------------------------*/
.hov {
	opacity: 1;
	transition: opacity 200ms ease-out;
	&:hover {
		opacity: .55;
		text-decoration: none;
	}
}

/*	nav white -> black
-------------------------------*/
.hov_nav_w {
  color: #fff;
  transition: 0.3s;
	&:hover {
    color: #000;
		text-decoration: none;
	}
}
/*	nav black -> white
-------------------------------*/

.hov_nav_b {
  color: #000;
  transition: 0.3s;
	&:hover {
    color:$u-litegreen;
		text-decoration: none;
	}
}

/*	transition 0.3s
-------------------------------*/
.hov_03 {
  transition: 0.3s;
}
/*	画像 マウスオーバー時拡大（明るく）
-------------------------------*/
.img-hov-1 {
	overflow: hidden;	/*拡大時にはみ出た部分を隠す*/
}
.img-hov-1 img,.img-hov-1 p {
	display: block;
	transition-duration: 0.5s;	/*変化に掛かる時間*/
}
.img-hov-1 img:hover {
	transform: scale(1.1);	/*画像の拡大率*/
	transition-duration: 0.5s;	/*変化に掛かる時間*/
  opacity: 0.6;	/* 小さくするほど暗くなります */
  .img-hov-1 p {
    opacity: 0.6;
  }
}
/* misaki
-------------------------------------------------------------*/

.hov {
	opacity: 1;
	transition: opacity 200ms ease-out;
	transition: all .8s;
	&:hover {
		opacity: 0.5;
		text-decoration: none;
	}
}
.gallery {
	a {
		.txt {
			.pp {
				padding-bottom: 10px;
				margin-top: 20px;
			}
		}
		figure {
			overflow: hidden;
			img {
				transition-duration: 0.8s;
				&:hover {
					transform: scale(1.1);
					transition-duration: 0.8s;
				}
			}
		}
	}
}
.d-b {
  display: block;
}
.view.view-slideup {
	opacity: 0;
	&.on {
		opacity: 1;
		animation: view-slideup 2s ease both;
  }
}





/* * * * * * * * *
*	その他共通
* * * * * * * * */
.cen {
  text-align: center;
}
.photo_t {
  width: 500px;
  height: 750px;
}
.photo_y {
  width: 500px;
  height: 300px;
}
.d-f {
  display: flex;
}
.js-sb {
  justify-content: space-between;
}
.ai-c {
  align-items: center;
}
.ai-fe {
  align-items: flex-end;
}
.fd-c {
  flex-direction: column;
}
.jc-c {
  justify-content: center;
}
.jc-sa {
  justify-content: space-around;
}
.jc-fs {
  justify-content: flex-start;
}
.ta-c {
  text-align: center;
}
.ta-l {
  text-align: left;
}
.d-i {
  display: inline;
}
.d-ib {
  display: inline-block;
}
.text_a {
  font-size: 1.6rem;
  line-height: 3.5;
}
.c-red {
  color: #bc4242;
}
.ta-l {
  text-align-last: left;
}
.mb_50 {
  margin-bottom: 60px;
}
.mb_35 {
  margin-bottom: 35px;
}
.mb_100 {
  margin-bottom: 100px;
}
.mt_50 {
  margin-top: 50px;
}
.ml_10 {
  margin-left: 10px;
}
.pdp {
  padding: 0 100px 0;
}
button{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
/* * * * * * * * *
*	border bdr-1 CHEESECAKE
* * * * * * * * */
.bdr-1 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 26px;
	text-align: center;
}

.bdr-1::before,
.bdr-1::after {
	content: '';
	width: 300px;
	height: 1px;
	background-color: #e3bf00;
}

.bdr-1::before {
	margin-right: 50px;
}
.bdr-1::after {
	margin-left: 50px;
}
/* * * * * * * * *
*	border bdr-2 COOKIE
* * * * * * * * */
.bdr-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 26px;
	text-align: center;
}

.bdr-2::before,
.bdr-2::after {
	content: '';
	width: 280px;
	height: 1px;
	background-color: #e3bf00;
}

.bdr-2::before {
	margin-right: 50px;
}
.bdr-2::after {
	margin-left: 50px;
}
