@charset "UTF-8";
/* * * * * * * * *
*	Sass 定義
* * * * * * * * */
/* * * * * * * * *
*	base
* * * * * * * * */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: none;
  position: static;
}

html {
  font-size: 50%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  color: #333;
  width: 100%;
  font-family: 'PT Sans Caption','PT Sans','ヒラギノ角ゴ Pro W3',' Hiragino Kaku Gothic Pro', 'MeiryoUI', 'MSUIGothic', 'メイリオ', 'Meiryo', 'ＭＳＰゴシック', sans-serif;
  line-height: 1.8;
  letter-spacing: 0.2rem;
  text-align: center;
  margin: 0 auto;
  overflow: auto;
}

.inner {
  max-width: 1080px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #333;
}

h2 {
  font-size: 4.5rem;
  margin-bottom: 10px;
}

tr, th {
  font-weight: normal;
}

select, input, textarea {
  border: 0;
  background-color: #F5F8F6;
}

/* * * * * * * * *
*	reset
* * * * * * * * */
img {
  margin: 0;
  padding: 0;
  vertical-align: top;
  max-width: 100%;
}

.sub_t {
  font-size: 2rem;
  letter-spacing: 1.2rem;
  margin-bottom: 50px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* * * * * * * * *
*	header
* * * * * * * * */
header .header_under {
  border-bottom: 1px solid #333;
  height: 90px;
}

header .header_under_indx {
  border-bottom: 1px solid #fff;
}

/* スマホ用メニューを非表示 */
.sp-menu {
  display: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90px;
}

.nav img {
  width: 120px;
  height: auto;
}

.nav_li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_li ul {
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav_li ul li {
  position: relative;
  margin-right: 30px;
}

.nav_li ul li img {
  width: 20px;
  height: 20px;
}

.insta_hov {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.insta_hov:hover {
  opacity: 1;
}

/*	shopping header
-------------------------------*/
.shop-ti-big {
  height: 68px;
  margin-top: 20px;
  background-color: #F5F8F6;
}

.shop-ti-big .shop-ti-big-p {
  font-size: 2rem;
  letter-spacing: 1.2rem;
  font-weight: bold;
}

/* * * * * * * * *
*	footer
* * * * * * * * */
.main_contact {
  text-align: center;
}

.main_con_i {
  width: 150px;
  margin-bottom: 15px;
}

.main_con_p {
  letter-spacing: .8rem;
  font-size: 2rem;
  margin-bottom: 100px;
}

.con_3 {
  width: 280px;
}

.con_4 {
  border-top: 3px solid #000;
}

.w450 {
  width: 450px;
}

.w550 {
  width: 550px;
}

.m-auto {
  margin: 0 auto;
}

/* * * * * * * * *
*	footer
* * * * * * * * */
footer {
  text-align: center;
  margin: 30px 0;
  font-size: 1.4rem;
}

/* * * * * * * * *
*	共通事項
* * * * * * * * */
/*	button 右に横棒がついているもの
-------------------------------*/
.btn-3 a {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 1em 2em;
  width: 230px;
  color: #333;
  font-size: 1.5rem;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-3 a::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -35px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 70px;
  height: 2px;
  background-color: #2285b1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-3 a:hover {
  text-decoration: none;
  background-color: #ccc;
}

.btn-3 a:hover::after {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

/*	btn-4 白から黒
-------------------------------*/
.btn-4 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  width: 200px;
  color: #36374b;
  font-size: 1.4rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 4px solid #36374b;
}

.btn-4 a::after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #36374b;
  border-right: 3px solid #36374b;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.btn-4 a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #36374b;
}

.btn-4 a:hover::after {
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
}

/*	btn-5 footer 共通
-------------------------------*/
.btn-5 a {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 8em 8em;
  width: 1000px;
  color: #36374b;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 10px solid #36374b;
  margin-top: -70px;
  margin-bottom: 100px;
}

.btn-5 h3 {
  font-size: 4.5rem;
  padding-right: 40px;
}

.btn-5 .con_2 {
  font-size: 2rem;
  font-weight: 600;
}

.con_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-5 a::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -100px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 200px;
  height: 3px;
  background-color: #36374b;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-5 a:hover {
  text-decoration: none;
  background-color: #36374b;
  color: #fff;
}

.btn-5 a:hover::after {
  -webkit-transition: all .5s;
  transition: all .5s;
  text-decoration: none;
  background-color: #f4f3ef;
}

/*	btn-6 shopping CHEESECAKE 他の
-------------------------------*/
.btn-6 span {
  text-align: center;
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 1em 2em;
  width: 380px;
  color: #fff;
  font-size: 1.6rem;
  border: 1px solid #fff;
  background-color: #8aa2a0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-6 span::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -35px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 70px;
  height: 1px;
  background-color: #e5e5e5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-6 span:hover {
  text-decoration: none;
  background-color: #F5F8F6;
  border: 1px solid #36374b;
  color: #adabae;
}

.btn-6 span:hover::after {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
  background-color: #36374b;
}

/*	btn-7 shoping 戻る
-------------------------------*/
.btn-7 a {
  text-align: center;
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 1em 2em;
  width: 380px;
  color: #333;
  font-size: 1.6rem;
  border: 1px solid #333;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-7 a::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -35px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 70px;
  height: 1px;
  background-color: #36374b;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-7 a:hover {
  text-decoration: none;
  background-color: #36374b;
  border: 1px solid #333;
  color: #fff;
}

.btn-7 a:hover::after {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
  background-color: #f4f3ef;
}

/*	btn-8 お問い合わせ送信ボタン
-------------------------------*/
.btn-8 button {
  text-align: center;
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 1em 2em;
  width: 380px;
  color: #fff;
  font-size: 1.6rem;
  border: 1px solid #fff;
  background-color: #8aa2a0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-8 button::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -35px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 70px;
  height: 1px;
  background-color: #e5e5e5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-8 button:hover {
  text-decoration: none;
  background-color: #F5F8F6;
  border: 1px solid #36374b;
  color: #adabae;
}

.btn-8 button:hover::after {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
  background-color: #36374b;
}

/*	btn-9 お問い合わせ戻るボタン
-------------------------------*/
.btn-9 button {
  text-align: center;
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 1em 2em;
  width: 95px;
  color: #707070;
  font-size: 1.4rem;
  border: 1px solid #707070;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-9 button:hover {
  text-decoration: none;
  background-color: #36374b;
  border: 1px solid #707070;
  color: #fff;
}

/*	btn-10 お問い合わせ確認送信ボタン
-------------------------------*/
.btn-10 button {
  text-align: center;
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 1em 2em;
  width: 105px;
  color: #fff;
  font-size: 1.4rem;
  border: 1px solid #fff;
  background-color: #8aa2a0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-10 button:hover {
  text-decoration: none;
  background-color: #F5F8F6;
  border: 1px solid #36374b;
  color: #adabae;
}

/* * * * * * * * *
*	hover
* * * * * * * * */
/*	画像
-------------------------------*/
.hov {
  opacity: 1;
  -webkit-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
}

.hov:hover {
  opacity: .55;
  text-decoration: none;
}

/*	nav white -> black
-------------------------------*/
.hov_nav_w {
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hov_nav_w:hover {
  color: #000;
  text-decoration: none;
}

/*	nav black -> white
-------------------------------*/
.hov_nav_b {
  color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hov_nav_b:hover {
  color: #bfcdcc;
  text-decoration: none;
}

/*	transition 0.3s
-------------------------------*/
.hov_03 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/*	画像 マウスオーバー時拡大（明るく）
-------------------------------*/
.img-hov-1 {
  overflow: hidden;
  /*拡大時にはみ出た部分を隠す*/
}

.img-hov-1 img, .img-hov-1 p {
  display: block;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  /*変化に掛かる時間*/
}

.img-hov-1 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  /*画像の拡大率*/
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  /*変化に掛かる時間*/
  opacity: 0.6;
  /* 小さくするほど暗くなります */
}

.img-hov-1 img:hover .img-hov-1 p {
  opacity: 0.6;
}

/* misaki
-------------------------------------------------------------*/
.hov {
  opacity: 1;
  -webkit-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.hov:hover {
  opacity: 0.5;
  text-decoration: none;
}

.gallery a .txt .pp {
  padding-bottom: 10px;
  margin-top: 20px;
}

.gallery a figure {
  overflow: hidden;
}

.gallery a figure img {
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.gallery a figure img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.d-b {
  display: block;
}

.view.view-slideup {
  opacity: 0;
}

.view.view-slideup.on {
  opacity: 1;
  -webkit-animation: view-slideup 2s ease both;
          animation: view-slideup 2s ease both;
}

/* * * * * * * * *
*	その他共通
* * * * * * * * */
.cen {
  text-align: center;
}

.photo_t {
  width: 500px;
  height: 750px;
}

.photo_y {
  width: 500px;
  height: 300px;
}

.d-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.js-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ai-fe {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.jc-fs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.ta-c {
  text-align: center;
}

.ta-l {
  text-align: left;
}

.d-i {
  display: inline;
}

.d-ib {
  display: inline-block;
}

.text_a {
  font-size: 1.6rem;
  line-height: 3.5;
}

.c-red {
  color: #bc4242;
}

.ta-l {
  text-align-last: left;
}

.mb_50 {
  margin-bottom: 60px;
}

.mb_35 {
  margin-bottom: 35px;
}

.mb_100 {
  margin-bottom: 100px;
}

.mt_50 {
  margin-top: 50px;
}

.mt_15 {
  margin-top: 15px;
}

.ml_10 {
  margin-left: 10px;
}

.pdp {
  padding: 0 100px 0;
}

button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* * * * * * * * *
*	border bdr-1 CHEESECAKE
* * * * * * * * */
.bdr-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26px;
  text-align: center;
}

.bdr-1::before,
.bdr-1::after {
  content: '';
  width: 300px;
  height: 1px;
  background-color: #e3bf00;
}

.bdr-1::before {
  margin-right: 50px;
}

.bdr-1::after {
  margin-left: 50px;
}

/* * * * * * * * *
*	border bdr-2 COOKIE
* * * * * * * * */
.bdr-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26px;
  text-align: center;
}

.bdr-2::before,
.bdr-2::after {
  content: '';
  width: 280px;
  height: 1px;
  background-color: #e3bf00;
}

.bdr-2::before {
  margin-right: 50px;
}

.bdr-2::after {
  margin-left: 50px;
}

/* * * * * * * * * * * * * * * * * * * * * *
*	スマートフォン：599px [max-width : 599px]
* * * * * * * *  * * * * * * * * * * * * * */
@media screen and (max-width: 599px) {
  body {
    background-color: #00FFFF;
    /*青色*/
  }
  .pc-menu {
    display: none;
  }
  /* スマホ用メニュー表示 */
  .sp-menu {
    margin: 0 auto;
    width: 90%;
    position: absolute;
    top: 60px;
    width: 100%;
    background: rgba(76, 88, 111, 0.8);
    left: 0;
  }
  .sp-menu ul li {
    margin: 0 auto;
    text-align: center;
  }
  /* メニューボタン */
  .toggle {
    display: block;
    width: 35px;
    height: 30px;
    position: relative;
    top: 18px;
    z-index: 2;
    float: right;
  }
  .toggle:hover {
    cursor: pointer;
  }
  .toggle span {
    display: block;
    height: 3px;
    background: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .toggle span:nth-child(1) {
    top: 0px;
  }
  .toggle span:nth-child(2) {
    top: 12px;
  }
  .toggle span:nth-child(3) {
    top: 24px;
  }
}

/* * * * * * * * * * * * * * * * * * * * * *
*	タブレット：1024px [max-width : 1024px]
* * * * * * * *  * * * * * * * * * * * * * */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  body {
    background-color: #66ff00;
    /*青色*/
  }
}
/*# sourceMappingURL=preset.css.map */