@charset "UTF-8";
/* * * * * * * * *
*	Sass 定義
* * * * * * * * */
/* * * * * * * * *
*	header
* * * * * * * * */
.head-bg-img {
  width: 100%;
  height: 700px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(53, 37, 37, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../img/kari/header.jpg);
  background: linear-gradient(rgba(53, 37, 37, 0.2), rgba(0, 0, 0, 0.2)), url(../img/kari/header.jpg);
  background-size: cover;
}

.header_under_index-bk {
  border-bottom: 1px solid #000;
}

/* * * * * * * * *
*	main about_us
* * * * * * * * */
#aboutus {
  margin-top: 90px;
  padding: 0 20px;
}

#aboutus h2 {
  margin-bottom: 20px;
}

#aboutus .aap {
  font-size: 2rem;
  letter-spacing: 1.2rem;
}

#aboutus_a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#aboutus_a #aboutus_img img {
  width: 200px;
  height: 280px;
  margin-right: 15px;
}

#aboutus_a #aboutus_b {
  text-align: center;
}

#aboutus_a #aboutus_b #ap {
  margin-top: -110px;
  font-size: 3.3rem;
  line-height: 1.8;
  letter-spacing: 1.7rem;
}

#aboutus_a #aboutus_b p {
  margin-top: 111px;
  width: 463px;
  font-size: 1.6rem;
  background: #fff;
}

#ai-1 {
  margin-top: 118px;
}

#ai-2 {
  margin-top: -20px;
}

/* * * * * * * * *
*	main news
* * * * * * * * */
#news {
  background-color: #F5F8F6;
  margin-top: 200px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 60px;
}

#news #news_a {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#news #news_a p {
  font-size: 1.6rem;
  letter-spacing: .38rem;
}

#news #news_a p span {
  font-weight: bold;
  margin-right: 35px;
}

.tandb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

/* * * * * * * * *
*	main Photo
* * * * * * * * */
#photo {
  margin-top: 200px;
  padding: 0 20px;
}

#photo h2 {
  margin-bottom: 20px;
  text-align: center;
}

#photo .photo_bp {
  text-align: center;
}

#photo .btn-4 {
  float: right;
}

#photo_b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 74px;
}

#photo_b img {
  width: 280px;
  margin-bottom: 37px;
  height: 280px;
}

/* * * * * * * * *
*	main Online shop
* * * * * * * * */
#online_s {
  margin: 150px 0;
  padding-top: 30px;
  background-color: #F5F8F6;
}

#online_s .i-pp {
  padding: 0 50px;
}

#online_s .i-pp #onl_p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 50px 0 0;
  padding-bottom: 70px;
}

#online_s .i-pp #onl_p img {
  width: 450px;
  height: 300px;
}

#online_s .i-pp #onl_p #onl_pp {
  font-size: 1.4rem;
  line-height: 2.5;
  text-align: center;
}

#online_s .i-pp #onl_p #onl_pp p {
  margin-bottom: 40px;
}

/* * * * * * * * *
*	main access
* * * * * * * * */
#access {
  margin-bottom: 200px;
  line-height: 2.3;
  font-size: 1.5rem;
}

#access #acc_a {
  display: inline-block;
  width: 540px;
}

#access #acc_a #a_p2 {
  margin-top: 13px;
}

#access #acc_a #a_p2 #a_pa {
  text-decoration: underline;
  color: #648181;
}

#access #acc_a #a_p2 #a_pa:hover {
  color: #bfcdcc;
}

#access #acc_a #a_p3 {
  margin-top: 35px;
  font-weight: bold;
  font-size: 1.4em;
}

#access #acc_a a {
  text-decoration: underline;
  color: #648181;
}

#access #acc_a a:hover {
  color: #bfcdcc;
}

#access #acc_a ul li span {
  font-weight: bold;
}

#access img {
  width: 280px;
  height: 400px;
  margin: 200px 0 0 120px;
}

#access .map_a {
  margin-top: 20px;
}

/*   photo
--------------------------------------------------------------------------*/
/* * * * * * * * *
*	photo
* * * * * * * * */
#photo_inner img {
  margin-bottom: 100px;
}

/*   shop top
--------------------------------------------------------------------------*/
/* * * * * * * * *
*	shop top
* * * * * * * * */
.head-bg-img-shop {
  width: 100%;
  height: 600px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../img/kari/shop1.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/kari/shop1.jpg);
  background-size: cover;
}

#shop_inner h2 {
  margin-top: 130px;
}

#shop_inner .shop-ti {
  margin-top: 200px;
  margin-bottom: 80px;
  font-size: 2rem;
}

#shop_inner .shop-items .sp-item {
  margin-bottom: 100px;
}

#shop_inner .shop-items .sp-item .sp-item-d article {
  margin: 0 10 0 10;
}

#shop_inner .shop-items .sp-item .sp-item-d article a figure img {
  width: 400px;
  height: 400px;
}

#shop_inner .shop-items .sp-item .sp-item-d article a .txt .pp {
  font-size: 1.6rem;
  font-weight: 600;
}

#shop_inner .shop-items .sp-item .sp-item-d article a .txt .sp-item-ti-2 {
  font-size: 1.5rem;
  color: #b4b4b4;
}

article {
  margin-right: 20px;
  margin-left: 20px;
}

/* * * * * * * * *
*shoping 詳細ページ
* * * * * * * * */
.sp-dt-main {
  margin-bottom: 80px;
  margin-top: 100px;
}

.sp-dt-main .sp-dt-sub1 {
  width: 100px;
  margin-left: 100px;
}

.sp-dt-main .sp-dt-sub1 .sp-dt-sub-d1 {
  height: 350px;
  margin-right: 10px;
}

.sp-dt-main .sp-dt-sub1 .sp-dt-sub-d1 img {
  width: 350px;
  height: 110px;
  vertical-align: bottom;
  /*画像の下にできる余白を削除*/
}

.sp-dt-main .sp-dt-sub1 .sp-dt-sub-d1 img:last-child {
  margin-bottom: 0;
}

.sp-dt-main .sp-dt-sub1 .sp-dt-sub-d2 {
  width: 350px;
  height: 350px;
  background-color: #333;
}

.sp-dt-main .sp-dt-sub2 {
  margin-left: 20px;
  width: 450px;
}

.sp-dt-main .sp-dt-sub2 .sp-dt-name {
  font-size: 2rem;
  font-weight: 600;
}

.sp-dt-main .sp-dt-sub2 .sp-dt-name2 {
  margin-bottom: 40px;
  font-size: 1.6rem;
  font-weight: 600;
}

.sp-dt-main .sp-dt-sub2 .dt-price {
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 1.5rem;
  margin-bottom: 40px;
  font-weight: 600;
}

.sp-dt-main .sp-dt-sub2 .dt-size .dt-size-ti {
  font-size: 1.6rem;
}

.sp-dt-main .sp-dt-sub2 .dt-size .dt-size-po {
  margin-left: 60px;
}

.sp-dt-main .sp-dt-sub2 .dt-size-dt {
  margin-bottom: 30px;
}

.sp-dt-main .sp-dt-sub2 .dt-size-dt .dt-size {
  margin-right: 20px;
  text-align: center;
  width: 80px;
  height: 40px;
  line-height: 40px;
  font-size: 1.5rem;
  border: solid 1px #333;
  letter-spacing: 0;
}

.sp-dt-main .sp-dt-sub2 .dt-size-dt .dt-size p {
  margin-left: 20px;
}

.sp-dt-main .sp-dt-sub2 .dt-size-dt .dt-size2 {
  margin-right: 20px;
  text-align: center;
  width: 80px;
  height: 40px;
  line-height: 40px;
  font-size: 1.5rem;
  border: solid 1px #333;
  letter-spacing: 0;
}

.sp-dt-main .sp-dt-sub2 .dt-size-dt .dt-size2 p {
  margin-left: 23px;
}

.sp-dt-main .sp-dt-sub2 .dt-text {
  font-size: 1.5rem;
}

.btn-7 {
  margin-top: 30px;
  margin-bottom: 130px;
}

/* * * * * * * * *
*	Shopping cart
* * * * * * * * */
.bl {
  background: #FFF9ED;
}

.cart_a .cart_b {
  margin-top: 80px;
  margin-bottom: 40px;
  border-bottom: 1px solid #333;
}

.cart_a .cart_b ul {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1.6rem;
}

.cart_a .cart_b ul li {
  display: inline-block;
  text-align: center;
  width: 100px;
  margin-left: 70px;
  letter-spacing: 1rem;
}

.cart_a .cart_item {
  max-width: 1080px;
}

.cart_a .cart_item img {
  width: 200px;
  height: 200px;
  margin-right: 50px;
}

.cart_a .cart_item .cart_e {
  padding-top: 30px;
}

.cart_a .cart_item .cart_e .cart_1 {
  font-size: 1.8rem;
  font-weight: 500;
}

.cart_a .cart_item .cart_e .cart_2 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.cart_a .cart_item .cart_e .cart_3 {
  border: 1px solid #333;
  width: 73px;
  height: 40px;
  line-height: 40px;
  letter-spacing: normal;
  text-align: center;
  margin-top: 65px;
}

.cart_a .cart_item .cart_e-0 .cc1 {
  margin-top: 30px;
  text-align: center;
  width: 100px;
  height: 200px;
  margin-left: 70px;
}

.cart_f {
  margin-top: 30px;
}

.cart_g {
  border: 1px solid #333;
  width: 600px;
  height: 220px;
}

.cart_h {
  border-bottom: 1px solid #000;
  width: 300px;
}

.cart_i {
  margin-top: 80px;
  width: 270px;
}

.cart_i .ww a {
  width: 270px;
}

/* * * * * * * * *
*	contact
* * * * * * * * */
.cont1 {
  text-align: left;
}

#mailform .con-phase table tbody tr {
  padding: 30px 0 10px;
  display: block;
  text-align: left;
}

#mailform .con-phase table tbody tr th {
  display: block;
}

#mailform .con-phase table tbody tr td {
  width: 1080px;
}

#mailform .con-phase table tbody tr td textarea {
  width: 1080px;
  height: 300px;
}

#mailform .con-phase table tbody tr td input {
  width: 1080px;
  padding: 20px;
}

#mailform .con-phase table tbody tr .select select {
  min-width: 400px;
  padding: 20px;
}

#mailform .btn-8 {
  margin-top: 50px;
  margin-bottom: 120px;
}
/*# sourceMappingURL=style.css.map */