@charset "UTF-8";
@import "preset";

/* * * * * * * * *
*	ヘッダー
* * * * * * * * */
header {
  width: 100%;
  height: 700px;
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/kari/header.jpg);
  .inner {
    .nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 105px;
      h1 img {
        width: 180px;
        height: 60px;
      }
    }
  }
}
// ヘッダーナビ
.nav_li {
  align-items: center;
  ul {
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    li {
      margin-right: 30px;
      a {
      color: rgb(255, 255, 255);
        img {
          width: 20px;
        }
      }
    }
  }
}
/* * * * * * * * *
*	main about_us
* * * * * * * * */
#aboutus {
  margin-top: 152px;
  h2 {
    margin-bottom: 20px;
  }
  .aap {
    font-size: 2rem;
    letter-spacing: 1.2rem;
  }
}
#aboutus_a {
  // margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  #aboutus_img img{
    width: 260px;
    height: 340px;
    margin-right: 15px;
  }
  #aboutus_b {
    text-align: center;
    #ap {
      margin-top: -110px;
      font-size: 3.3rem;
      line-height: 1.8;
      letter-spacing: 1.7rem;
    }
    p {
      margin-top: 111px;
      width: 463px;
      font-size: 1.6rem;
      background: #fff;
    }
  }
}
#ai-1 {
  margin-top: 118px;
}
#ai-2 {
  margin-top: -20px;
}
/* * * * * * * * *
*	main news
* * * * * * * * */
#news {
  background-color: $ucafe-color;
  margin-top: 200px;
  padding: 60px;
  #news_a {
    p{
      margin-bottom: 35px;
      font-size: 1.6rem;
      letter-spacing: .38rem;
      span {
        font-weight: bold;
        margin-right: 35px;
      }
    }
  }
}
.btn-1 {
  @include btn-1;
}
.tandb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
/* * * * * * * * *
*	main Photo
* * * * * * * * */
#photo {
  margin-top: 200px;
  h2 {
    margin-bottom: 35px;
    text-align: center;
  }
  .photo_bp {
    text-align: center;
  }
  .btn-4 {
    float: right;
  }
}
//写真一覧
#photo_b {
  // clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 74px;
  img {
    width: 310px;
    margin-bottom: 37px;
    height: 310px;
  }
}
/* * * * * * * * *
*	main Online shop
* * * * * * * * */
#online_s {
  margin: 250px 0;
  padding-top: 30px;
  background-color: $ucafe-color;
  #onl_p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px 50px 0 0;
    padding-bottom: 70px;
    img {
      width: 500px;
      height: 320px;
    }
    #onl_pp {
      font-size: 1.7rem;
      line-height: 2.5;
      text-align: center;
      p {
        margin-bottom: 40px;
      }
    }
  }
}
