@charset "UTF-8";
/* * * * * * * * *
*	base
* * * * * * * * */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

body {
  color: #333;
  font-family: 'PT Sans Caption','PT Sans','ヒラギノ角ゴ Pro W3',' Hiragino Kaku Gothic Pro', 'MeiryoUI', 'MSUIGothic', 'メイリオ', 'Meiryo', 'ＭＳＰゴシック', sans-serif;
  line-height: 1.8;
  letter-spacing: 0.5rem;
  margin: 0;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.inner {
  max-width: 1080px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #333;
}

h2 {
  font-size: 4.5rem;
  margin-bottom: 30px;
}

/* * * * * * * * *
*	reset
* * * * * * * * */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.sub_t {
  font-size: 2rem;
  letter-spacing: 1.2rem;
}

/* * * * * * * * *
*	Sass 定義
* * * * * * * * */
/*	button
-------------------------------*/
.btn-3 a {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 1em 2em;
  width: 300px;
  color: #333;
  font-size: 1.6rem;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-3 a::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -35px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 70px;
  height: 2px;
  background-color: #2285b1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-3 a:hover {
  text-decoration: none;
  background-color: #ccc;
}

.btn-3 a:hover::after {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
}

/*	btn-4 白から黒
-------------------------------*/
.btn-4 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  width: 300px;
  color: #000000;
  font-size: 18px;
  border: 4px solid #000000;
}

.btn-4 a::after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #333;
  border-right: 3px solid #333;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.btn-4 a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #333;
}

.btn-4 a:hover::after {
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
}

/* * * * * * * * *
*	ヘッダー
* * * * * * * * */
header {
  width: 100%;
  height: 700px;
  background-size: cover;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../img/kari/header.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/kari/header.jpg);
}

header .inner .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 105px;
}

header .inner .nav h1 img {
  width: 180px;
  height: 60px;
}

.nav_li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_li ul {
  font-size: 1.3rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav_li ul li {
  margin-right: 30px;
}

.nav_li ul li a {
  color: white;
}

.nav_li ul li a img {
  width: 20px;
}

/* * * * * * * * *
*	main about_us
* * * * * * * * */
#aboutus {
  margin-top: 152px;
}

#aboutus h2 {
  margin-bottom: 20px;
}

#aboutus .aap {
  font-size: 2rem;
  letter-spacing: 1.2rem;
}

#aboutus_a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#aboutus_a #aboutus_img img {
  width: 260px;
  height: 340px;
  margin-right: 15px;
}

#aboutus_a #aboutus_b {
  text-align: center;
}

#aboutus_a #aboutus_b #ap {
  margin-top: -110px;
  font-size: 3.3rem;
  line-height: 1.8;
  letter-spacing: 1.7rem;
}

#aboutus_a #aboutus_b p {
  margin-top: 111px;
  width: 463px;
  font-size: 1.6rem;
  background: #fff;
}

#ai-1 {
  margin-top: 118px;
}

#ai-2 {
  margin-top: -20px;
}

/* * * * * * * * *
*	main news
* * * * * * * * */
#news {
  background-color: #F5F8F6;
  margin-top: 200px;
  padding: 60px;
}

#news #news_a p {
  margin-bottom: 35px;
  font-size: 1.6rem;
  letter-spacing: .38rem;
}

#news #news_a p span {
  font-weight: bold;
  margin-right: 35px;
}

.btn-1 {
  padding: 15px 45px;
  border: solid;
  font-size: 1.7rem;
}

.tandb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

/* * * * * * * * *
*	main Photo
* * * * * * * * */
#photo {
  margin-top: 200px;
}

#photo h2 {
  margin-bottom: 35px;
  text-align: center;
}

#photo .photo_bp {
  text-align: center;
}

#photo .btn-4 {
  float: right;
}

#photo_b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 74px;
}

#photo_b img {
  width: 310px;
  margin-bottom: 37px;
  height: 310px;
}

/* * * * * * * * *
*	main Online shop
* * * * * * * * */
#online_s {
  margin: 250px 0;
  padding-top: 30px;
  background-color: #F5F8F6;
}

#online_s #onl_p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 70px 50px 0 0;
  padding-bottom: 70px;
}

#online_s #onl_p img {
  width: 500px;
  height: 320px;
}

#online_s #onl_p #onl_pp {
  font-size: 1.7rem;
  line-height: 2.5;
  text-align: center;
}

#online_s #onl_p #onl_pp p {
  margin-bottom: 40px;
}
/*# sourceMappingURL=style.css.map */